__pycache__/menu.cpython-312.pyc
__pycache__/plateau.cpython-312.pyc
__pycache__/menu.cpython-311.pyc
__pycache__/plateau.cpython-311.pyc
__pycache__/options.cpython-311.pyc
__pycache__/vsOrdi.cpython-311.pyc
config.ini
__pycache__/options.cpython-312.pyc
__pycache__/vsOrdi.cpython-312.pyc
